node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
*.cache
node_modules/react-native-reanimated/src/reanimated1/core/AnimatedValue.js

.idea/embtr.iml

.idea/modules.xml

.idea/prettier.xml

.idea/vcs.xml
.env
resources/types/custom_schema/challengeDto.tsx
