.expo/
.idea/
.vscode/
dist/
node_modules/
web-build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
*.cache
node_modules/react-native-reanimated/src/reanimated1/core/AnimatedValue.js

.idea/embtr.iml

.idea/modules.xml

.idea/prettier.xml

.idea/vcs.xml
.env
.idea/dataSources.local.xml
