<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="js.build_tools.npm">
    <package-json value="$PROJECT_DIR$/../embtr_server/package.json" />
    <command value="run" />
    <scripts>
      <script value="debug" />
    </scripts>
    <node-interpreter value="wsl://Ubuntu@/home/beerent/.nvm/versions/node/v18.17.1/bin/node" />
    <package-manager value="npm" />
    <envs />
    <method v="2" />
  </configuration>
</component>